#FlowNetTK/FlowNetTK/.gitignore

######################################| gitignore |######################################

#Ignore Cache
__pycache__/
*.pyc

#Ignore Database Files
*.csv
*.pickle
*.pkl
*.pt
*.dat
*.ndjson
*.npy

#Ignore Models
*.pth
*.pt
*.h5
*.keras
my_mnist_cnn_v4_saved*
*.frozen

# pyenv, vscode, tmp, etc files 
.python-version
WebsiteBox.code-workspace
*.tmp
*.sync-conflict*
